@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-main: #10847E; 
  --brand-main-light: #E4F6F4;
}

body {
  @apply bg-slate-50 text-slate-900;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out;
}
